MituWork/MituTools/ToolkitSuite/Xml/schema/v4/EventHandlerType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:complexType name="EventHandlerType">
    <xs:choice>
      <xs:element ref="RegHandler" minOccurs="0"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="RegHandler">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RegName" type="xs:token"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
