MituWork/WeixinFramework/ConfigFile/FormalXml/CXCSSecureMode/schema/v5/SubItems/MetaData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by cjy (baison) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tk="http://www.qdocuments.net" targetNamespace="http://www.qdocuments.net" elementFormDefault="qualified">
  <xs:include schemaLocation="DataXmlCommon.xsd"/>
  <xs:include schemaLocation="Common.xsd"/>
  <xs:complexType name="MetaDataType">
    <xs:group ref="tk:MetaDataGroup"/>
  </xs:complexType>
  <xs:group name="MetaDataGroup">
    <xs:choice>
      <xs:element ref="tk:SingleXmlMetaData"/>
      <xs:element ref="tk:SingleClassMetaData"/>
      <xs:element ref="tk:CompositeMetaData"/>
      <xs:element name="DetailMetaData" type="tk:DetailMetaDataType">
        <xs:annotation>
          <xs:documentation>可配置单表多记录的MetaData</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MasterDetailMetaData">
        <xs:annotation>
          <xs:documentation>主从表的MetaData配置</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Master" type="tk:SingleMetaDataType">
              <xs:annotation>
                <xs:documentation>主表的MetaData</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Detail" type="tk:DetailMetaDataType">
              <xs:annotation>
                <xs:documentation>从表的MetaData</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DbSingleCustomTable">
        <xs:annotation>
          <xs:documentation>通过SYS_CUSTOM_TABLE表的定义获取MetaData，该配置只有包含了YJC.Toolkit.SysFunction.dll才有效</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="tk:__tk_ContextGroup"/>
          <xs:attribute name="TableName" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>在SYS_CUSTOM_TABLE中CT_TABLE_NAME的表名</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ColumnCount" type="xs:unsignedInt"/>
        </xs:complexType>
      </xs:element>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="SingleMetaDataType">
    <xs:choice>
      <xs:element ref="tk:SingleClassMetaData"/>
      <xs:element ref="tk:SingleXmlMetaData"/>
    </xs:choice>
  </xs:complexType>
  <xs:attributeGroup name="MultipleAttrGroup">
    <xs:attribute name="IsFix" type="xs:boolean"/>
    <xs:attribute name="ListStyle">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="Table"/>
          <xs:enumeration value="Normal"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="DetailMetaDataType">
    <xs:complexContent>
      <xs:extension base="tk:SingleMetaDataType">
        <xs:attributeGroup ref="tk:MultipleAttrGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:attributeGroup name="MetaAttrGroup">
    <xs:attribute name="ColumnCount">
      <xs:annotation>
        <xs:documentation>一行几列的数目，范围在1..5之间</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="1"/>
          <xs:maxExclusive value="5"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="CommitDetail" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否提交标记为Label的字段</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="FindControlMethod">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Id"/>
      <xs:enumeration value="Name"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="JsonObjectType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Array"/>
      <xs:enumeration value="Object"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SingleXmlMetaData">
    <xs:annotation>
      <xs:documentation>单表Xml的MetaData配置</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:MetaOverrideType">
          <xs:attribute name="DataXml" type="xs:anyURI" use="required">
            <xs:annotation>
              <xs:documentation>引用的DataXml，以Xml\Data为起始路径</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="tk:MetaAttrGroup"/>
          <xs:attribute name="DisableAutoDetailLink" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>禁止产生自动链接到Detail的链接</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleClassMetaData">
    <xs:annotation>
      <xs:documentation>单表基于Class类型的MetaData配置</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:MetaOverrideType">
          <xs:attribute name="ClassRegName" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>用TypeSchemeAttribute标记的类型的注册名</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="tk:MetaAttrGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MetaOverrideType">
    <xs:sequence>
      <xs:element name="TableDesc" type="tk:MultiLanguageType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>重载表描述</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="tk:Add" minOccurs="0"/>
      <xs:element ref="tk:Override" minOccurs="0"/>
      <xs:element ref="tk:Except" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="TableName" type="xs:Name">
      <xs:annotation>
        <xs:documentation>重载表名</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SearchCtrlMethod">
      <xs:annotation>
        <xs:documentation>查找界面控件的方法，默认通过Id查找，如果是多条记录，可以修改为</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="JsonDataType" type="tk:JsonObjectType">
      <xs:annotation>
        <xs:documentation>构造Json时，是构造成Object，还是构造成Array</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="BaseFieldType">
    <xs:attribute name="NickName" type="xs:Name" use="required">
      <xs:annotation>
        <xs:documentation>字段的昵称</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="FieldType">
    <xs:complexContent>
      <xs:extension base="tk:BaseFieldType">
        <xs:sequence>
          <xs:element name="DisplayName" type="tk:MultiLanguageType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载显示名称</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Hint" type="tk:MultiLanguageType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载提示</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="CodeTable" type="tk:DecoderType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>重载代码表配置</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="EasySearch" type="tk:DecoderType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>重载EasySearch配置</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="Layout" type="tk:LayoutType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载控件布局</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListDetail" type="tk:ListDetailType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载List和Detail界面的特有特性</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Edit" type="tk:EditType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载Inset和Update界面的特有特性</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Extension" type="tk:FieldExtensionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载字段的扩展属性</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="IsEmpty" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>重载是否为空</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Order" type="xs:unsignedInt">
          <xs:annotation>
            <xs:documentation>重载显示的顺序</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Control" type="tk:ControlType">
          <xs:annotation>
            <xs:documentation>重载显示的控件</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Add">
    <xs:annotation>
      <xs:documentation>生成的MetaData中，添加部分字段（只能是Virtual或者Calc字段）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AddField" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>需要添加的字段</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DisplayName" type="tk:MultiLanguageType">
                <xs:annotation>
                  <xs:documentation>显示名称</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Hint" type="tk:MultiLanguageType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>提示</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:choice minOccurs="0">
                <xs:element name="CodeTable" type="tk:DecoderType" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>重载代码表配置</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="EasySearch" type="tk:DecoderType" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>重载EasySearch配置</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
              <xs:element name="Layout" type="tk:LayoutType">
                <xs:annotation>
                  <xs:documentation>控件布局</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ListDetail" type="tk:ListDetailType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>List和Detail界面的特有特性</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Edit" type="tk:EditType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Inset和Update界面的特有特性</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Extension" type="tk:FieldExtensionType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>字段的扩展属性</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="FieldName" type="xs:Name" use="required">
              <xs:annotation>
                <xs:documentation>字段名</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="DataType" type="tk:TkDataType" use="required">
              <xs:annotation>
                <xs:documentation>字段的类型</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Control" type="tk:ControlType" use="required">
              <xs:annotation>
                <xs:documentation>显示的控件</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Order" type="xs:unsignedInt" use="required">
              <xs:annotation>
                <xs:documentation>显示的顺序</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Kind" use="required">
              <xs:annotation>
                <xs:documentation>字段的类型</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="Calc"/>
                  <xs:enumeration value="Virtual"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="NickName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>字段的昵称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsEmpty" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>是否为空</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Length" type="xs:unsignedInt">
              <xs:annotation>
                <xs:documentation>字段的长度</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Override">
    <xs:annotation>
      <xs:documentation>生成的MetaData中，修改已有字段的部分属性</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Field" type="tk:FieldType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>需要修改的字段</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Except">
    <xs:annotation>
      <xs:documentation>生成的MetaData中，去除相关的字段</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DelField" type="tk:BaseFieldType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>需要删除的字段</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompositeMetaData">
    <xs:annotation>
      <xs:documentation>根据具体条件来选择相应配置的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Condition" type="tk:NormalConditionType"/>
              <xs:group ref="tk:MetaDataGroup"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
